* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*Cores*/
    --sh-cor-branco: #fff;
    --sh-cor-preto: #000;
    --sh-cor-fundo-form: rgba(255, 255, 255, .6);
    --sh-cor-label: #000;
    --sh-cor-texto: #000;
    --sh-box-shadow: 0px 0px 15px 3px #000000;
    --sh-box-shadowButtons: 2px 2px 3px 1px #000000c0;
    --sh-cor-primaria: #0080EE;
    --sh-cor-secundaria: #107DDB;
    --sh-cor-buttonAtivo: #3aa0ff;

    /*Fontes*/
    --sh-fonte-principal: "Montserrat", sans-serif;
    --sh-fonte-texto: "Roboto", sans-serif;
    --sh-fonteSize-titulo: 1.9rem;
    --sh-fonteSize-textos: 1.2rem;
    --sh-fonteSize-menor: 1rem;
    --sh-fontSize-dados: 1rem;
    --sh-fonteSize-titulo-popup: 2rem;

    /*---992px---*/
    --sh-fonteSize-textos_992px: 1.2rem;
    --sh-fonteSize-menor_992px: 1.1rem;
    --sh-fontSize-dados_992px: 1.1rem;
}

html,body {
    height: 100%;
}

.modal-header {
    background-color: var(--sh-cor-branco);
}

.sh-modal-titulo {
    font-size: var(--sh-fonteSize-titulo);
    font-family: var(--sh-fonte-principal);
    color: var(--sh-cor-texto);
    display: flex;
    text-align: center;
    width: 100%;
    text-align: center !important;
}

main.sh-tela-cadastro {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Fomulario completo*/
.sh-formulario{
    background-color: var(--sh-cor-fundo-form);
    padding: 25px 20px 0;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 310px;
    box-shadow: var(--sh-box-shadow);
    border-radius: 5px;
    gap: 20px;
}

/*Div do titulo*/
.sh-area-logo {
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sh-logo {
    width: 150px;
    filter: drop-shadow(0px 0px 6px var(--sh-cor-preto));
    cursor: pointer;
}

/*Article com os inputs*/
.sh-dados-cadastrais {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

/*Area com os primeiros inputs*/
.sh-area-inputs {
    display: grid;
    gap: 45px;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sh-inputs-lista {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 45px;
    justify-content: end;
}

.sh-inputs-labels {
    position: absolute;
    color: var(--sh-cor-texto);
    top: 40%;
    left: 41%;
    width: max-content;
    border-radius: 5px;
    padding: 0 2px;
    text-align: left;
    transition: 1s;
    font-family: var(--sh-fonte-principal);
    font-size: var(--sh-fonteSize-textos);
}

.sh-label-lembrese {
    color: var(--sh-cor-texto);
    font-size: var(--sh-fonteSize-menor);
    font-family: var(--sh-fonte-principal);
    cursor: pointer;
}

/*Inputs*/
.sh-dados-inputs {
    height: 30px;
    border-bottom: 1px solid var(--sh-cor-preto);
    color: var(--sh-cor-texto);
    font-family: var(--sh-fonte-texto);
    font-size: var(--sh-fontSize-dados);
    outline: none;
    background-color: transparent;
    text-align: center;
    font-weight: 400;
    padding: 3px;
    display: block;
    width: 100%;
    font-weight: bold;
}

.sh-dados-inputs::placeholder {
    color: var(--sh-cor-texto);
}

.sh-dados-inputs:focus ~ .sh-inputs-labels,
.sh-dados-inputs:valid ~ .sh-inputs-labels{
    color: var(--sh-cor-texto);
    top: -10%;
    left: 42%;
    font-size: var(--sh-fonteSize-menor);
}

.sh-senha-bisibilidade-img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.sh-senha-bisibilidade-img:hover {
    filter: drop-shadow(0px 0px 2px #fff);
}

.sh-footer {
    margin-top: 20px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.sh-footer-lembrese {
    display: flex;
    gap: 10px;
    align-items: center;
}


.sh-footer-cadastro p {
    font-size: var(--sh-fonteSize-menor);
    color: var(--sh-cor-texto);
    font-family: var(--sh-fonte-principal);
    margin-bottom: 0;
}

.sh-footer-link {
    text-decoration: none;
}

.sh-footer-link:hover {
    filter: drop-shadow(0px 0px 1px var(--sh-cor-primaria));
}

.sh-button-login {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--sh-cor-secundaria);
    border: 1px solid transparent;
    box-shadow: var(--sh-box-shadowButtons);
    font-family: var(--sh-fonte-principal);
    font-size: var(--sh-fonteSize-textos);
    cursor: pointer;
    transition: .5s;
}

.sh-button-login:hover {
    background-color: var(--sh-cor-buttonAtivo);
    box-shadow: none;
    border-color: var(--sh-cor-preto);
}

@media (min-width: 425px) {
    .sh-formulario {
        width: 380px;
    }

    .sh-footer {
        gap: 30px;
    }
}

@media (min-width: 992px) {

    :root {
        --sh-fonteSize-textos: 1.2rem;
        --sh-fonteSize-menor: 1.1rem;
        --sh-fontSize-dados: 1.1rem;
    }

    .sh-formulario {
        width: 328px;
        gap: 5px;
    }

    .sh-area-inputs {
        gap: 25px;
    }

    .sh-senha-bisibilidade-img {
        width: 30px;
        height: 30px;
    }

    .sh-inputs-labels {
        top: 25%;
        left: 39%;
    }

    .sh-dados-inputs:focus ~ .sh-inputs-labels,
    .sh-dados-inputs:valid ~ .sh-inputs-labels{
        color: var(--sh-cor-texto);
        top: -15%;
        left: 40%;
    }

    .sh-footer {
        margin-top: 0;
    }
}